<!DOCTYPE html>

<html lang="zxx">
<head>
	<title>Missionarios e Canibais</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% load static %}

	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/deepstyle.css' %}"/>

	<!-- Intro section -->
	<div class="container">
		<div class="row">
			<div class="col-4"></div>
			<div class="col">
				<h2>Conclusao</h2>
			</div>
		</div>
	</div>
	<section class="intro-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h5>Dificuldade</h5>
						<p>Computacionalmente falando, a dificuldade desse problema é mínima. Entretanto, para um ser humano a dificuldade aumenta pois os seres humanos não conseguem testar todas as possibilidades com uma velocidade tão grande quanto a máquina. Além disso, o ser humano tende a buscar uma lógica para resolver seus problemas e com isso acaba perdendo tempo em um problema com possibilidades tão pequenas como o problema dos Canibais e Missionários.</p>
						<h5>Observações</h5>
						<p>O problema pode ser resolvido facilmente por uma busca em profundidade normal. A busca bidirecional ajuda em casos onde o problema tem seus estados possiveis maiores, tanto que caso não seja feito o armazenamento e a impressão do histórico de busca o processo feito pela thread1 termina quase junto a thread2 começar a processar.</p>
					</div>
				</div>
				<div class="col-lg-6">
					<img src="static/peas.jpg">
				</div>
			</div>
		</div>
	</section>
	<!-- How section end -->

	
	<!--====== Javascripts & Jquery ======-->
	<script type="text/javascript" src="/static/assets/javascript/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/static/assets/javascript/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="/static/assets/javascript/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/assets/javascript/jquery.slicknav.min.js"></script>
	<script type="text/javascript" src="/static/assets/javascript/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/static/assets/javascript/mixitup.min.js"></script>
	<script type="text/javascript" src="/static/assets/javascript/main.js"></script>
	
	</body>
</html>
